@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');:root {
	--black: #444;
	--white: #fff;
	--primary-color: #f16588;
	--primary-color-tint: #ffe0e8;
}

body {
    height: 100vh;
	/* min-height: 200vh; */
	
	font-size: 16px;
	line-height: 1.75;
    color: var(--black);
}

h1 {
	font-size: 4rem;
	line-height: 1.35;
    letter-spacing: 0.0125em;
    font-family: 'Architects Daughter', cursive;
    color: var(--primary-color-tint);
    
}
.hero {
position: relative;
	display: flex;
	min-height: 70vh;
    background-size: cover;
    
  /*  background: var(--primary-color); */
    box-shadow:  10px 10px var(--primary-color); 
    
}
.section1 {
   padding: 20px 20px 0 20px;
   height: 80vh;
}
.row-div {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   
}
.div-img {
    padding:40px;
    width: 200px ;
}
.img1 {
    height: 400px;
    width: 280px;
    margin-top: 30px;
}
.img2 {
    height: 500px;
    width: 280px ;
   
}
.div-txt1 {
    width: 600px;
    margin-top: 200px;
    height: 400px;
}
h2 {
	position: relative;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	line-height: 1.35;
    color: var(--primary-color); 
}
h2::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.5rem;
    bottom: 0.25rem;
    height: 1rem;
    width: 5rem;
    background-color: var(--primary-color-tint); 
}    
.section2 {
    background: var(--primary-color-tint);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-div2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.left-img img{
    width: 450px;
    height: 350px;
    margin: 40px 30px 40px ;
}
.right-txt {
   width: 400px;
   margin: 50px;
}
.section3 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-div3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.img-last-div img {
    width: 400px;
    height: 250px;
    margin: 40px 30px 40px ;
    padding: 30px;
}
 
.voltar-button {
    height: 40px;
}
 .voltar-button a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}
.voltar-button:hover {
    transition: 2s;
    background: var(--primary-color);
    color: #fff;
   
}